:root { 
--teal_400_01:#23bb86; 
--gray_50_00:#f8f8f800; 
--gray_900_14:#0e132214; 
--blue_gray_50:#eeeff2; 
--red_A100_01:#fe9076; 
--red_500:#f53737; 
--green_A100:#9effad; 
--gray_50:#f8f8f8; 
--red_50:#ffebeb; 
--teal_400:#24c289; 
--amber_A700:#ffa800; 
--black_900:#000000; 
--blue_gray_800:#30235b; 
--gray_200_01:#e7e7e7; 
--blue_gray_700:#4f5665; 
--red_500_59:#f5373759; 
--blue_gray_900:#2f235a; 
--red_A700:#cf0606; 
--deep_orange_100:#ffbcbc; 
--teal_400_03:#2fab73; 
--teal_400_02:#24c28a; 
--gray_300_87:#e2e2e287; 
--gray_400:#b4b4b4; 
--blue_gray_200:#afb5c0; 
--orange_A200:#fea250; 
--red_A200:#f53855; 
--red_A100:#ff7979; 
--gray_900:#0b132a; 
--gray_900_01:#111111; 
--amber_700:#ffa400; 
--light_blue_50:#e5fbff; 
--gray_200:#f0f0f0; 
--gray_300_03:#dde0e4; 
--gray_300:#e0e0e0; 
--gray_300_02:#dcdfe4; 
--gray_300_01:#dddddd; 
--gray_100:#f7f7f7; 
--orange_100:#ffdead; 
--white_A700_87:#ffffff87; 
--gray_900_5f:#0d0f255f; 
--white_A700:#ffffff; 
--blue_gray_700_01:#4e5664; 
--gray_900_14_01:#10122314; 
}